@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color-1: #02172a;
  --main-color-2: #466484;
  --main-color-2-shade: #537290;
  --border: #1e2d3d;
  --hover-shade: #05233e;
}
:after,
:before {
  --tw-content: "";
}

html {
  scroll-behavior: smooth;
  padding: 30px;
  background-color: #010c15;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 1000px) {
  html {
    overflow: scroll;
  }
}
::-webkit-scrollbar-thumb {
  background: #607b96;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar {
  border-left: 1px solid #1e2d3d;
  display: none;
  width: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
@media (max-width: 800px) {
  html {
    padding: 12px;
  }
}
/* Fonts */

body {
  font-family: "Fira Code", monospace;
  color: var(--main-color-2);
  height: 100%;
  overflow: hidden;
  border: 1px solid var(--main-color-2);
  border-radius: 7px;
  background-color: var(--main-color-1);
  position: relative;
}

@media (max-width: 1000px) {
  body {
    overflow: scroll;
    height: auto;
    margin-bottom: 18px;
  }
}
/* Containers */
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.nav-line {
  border-bottom: 0.2px solid var(--main-color-2);
}
.purple {
  color: #4d5bce;
}
.gray {
  color: #607b96;
}
.green {
  color: #43d9ad;
}
.skin {
  color: #e99287;
}
.light {
  font-weight: lighter;
}
.active-tab {
  border-bottom: 2px solid rgb(204, 145, 35);
}
.active {
  color: white;
  scale: 1.3;
}

.rotate {
  transform: rotate(90deg);
}

.text-active {
  color: white;
}
